<% if flash.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <% flash.each do |key, value| %>
      <ul class="mb-0"<%= content_tag :li, value, class: "flash #{key}" %></ul>
    <% end %>
  </div>
<% end %>
<div class="row justify-content-center">
  <div class="col-sm-4">
    <h1><%= t('.sign_up') %></h1>
    <%= render :partial => "/devise/forms/users_form" %>
    <%= render 'devise/shared/links' %>
  </div>
</div>
